

body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

.navbar {
  background: tomato;
  padding: 15px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.title {
  text-align: center;
  margin: 30px 0;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

button {
  background: tomato;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
